# Node Environment
# Valid values: development, production, test
NODE_ENV=development

# Node Environment
# Valid values: development, production, test
NODE_ENV=development

# GitHub API - Access Token
GITHUB_USERNAME=hammy
GITHUB_REPOSITORY=hammy/hammayo.github.io
GITHUB_TOKEN=github_pat_11A...um9

# Analytics
GA_MEASUREMENT_ID=G-8NQ.....1K
